body {
  font-family: 'Oswald';
  font-weight: 200;
}

#wrapper {
  margin: 5% auto;
  overflow: hidden;
  position: relative;
  width: 70%;
}

#left-panel {
  background: #b69cca; /* Old browsers */
  background: -moz-linear-gradient(top,  #b69cca 0%, #c19e67 50%, #b68d4c 99%, #e9d4b3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b69cca), color-stop(50%,#c19e67), color-stop(99%,#b68d4c), color-stop(100%,#e9d4b3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #b69cca 0%,#c19e67 50%,#b68d4c 99%,#e9d4b3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #b69cca 0%,#c19e67 50%,#b68d4c 99%,#e9d4b3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #b69cca 0%,#c19e67 50%,#b68d4c 99%,#e9d4b3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #b69cca 0%,#c19e67 50%,#b68d4c 99%,#e9d4b3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69cca', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
  opacity: 40%;
  width: 60%;
  height: 576px;
  float: left;
  display: none;
  padding-left: 0px;
}

.logo {
  margin-top: 15px;
  margin-left: 15px;
  display: none;
}

#right-panel {
  display: none;
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  width: 40%;
}

.right-panel-body {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  display: inline-block;
}

.product {
  width: 80%;
  margin-bottom: 4%;
}

.title {
  font-size: 20px;
  margin-bottom: 4%;
}

.description {
  font-size: 14px;
  margin-bottom: 4%;
}

button.purchase {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 3px;
  width: 70%;
  font-family: 'Oswald';
  font-weight: 200;
  font-size: 18px;
  margin-bottom: 4%;
  color: #000000;
}

button.purchase:hover {
  background-color: #000000;
  color: #ffffff;
}

button.close {
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: 200;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
}

.close {
  opacity: inherit;
}

.close:hover {
  color: #666666;
}

.media-list {
  list-style-type: none; 
}

.media-list li {
  display: inline-block;
}

.media {
  height: 15px;
}

@media screen and (max-width: 701px) {
  #left-panel {
    width: 100%;
    height: 500px;
  }
  #right-panel {
    width: 100%;
  }
  .logo {
    height: 25%;
  }
}

@media screen and (max-width: 550px) {
  #left-panel {
    height: 400px;
  }
}

@media screen and (max-width: 403px) {
  #left-panel {
    height: 300px;
  }